body, html {
    height: 100%;
    margin-left: 50;
}

.bg {
    /* The image used */
    background-image: url("bookk.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}