.centered
{
    text-align: center;
}
.large
{
    color: #ff0000;
    font-size: large;
}
.medium
{
    font-size: medium;
}
.small
{
    font-size: small;
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
