/*https://venngage.com/blog/landing-page-examples/*/

/*max-width: 900px;*/
html{
    background: url(images/pattern.png);
}

body {
    width: 90%;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: rgba(75, 163, 195, 0.60);
}

.main-header {
    min-height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    align-items: center;
}

.main-header h1 {
    font-size: 2.7em;
    line-height: 175%;
    color: rgb(207, 214, 234);
    text-shadow: 2px 2px 6px;
    border-right: 5px solid rgb(207, 214, 234);
    border-radius: 0 15px 15px 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    padding-left: 15%;
    justify-content: space-around;
}

nav ul li {
    font-size: 1.75em;
    color: rgb(7, 26, 33);
    text-shadow: 1px 1px 1px;
    letter-spacing: 3px;
    transition:transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),  color 1.4s;
}

nav ul li:hover {
    color: aliceblue;
    transform: scale(1.5) rotate(1turn);
}

header img {
    width: 100%;
    filter: drop-shadow(5px 5px 10px rgb(207, 214, 234)) ;
}